* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --text-clr: hsl(215, 51%, 70%);
    --crypto-clr: hsl(178, 100%, 50%);
    --title-name-clr: hsl(0, 0%, 100%);
}

body {
    min-height: 100vh;
    background-color: var(--main-bg);
    color: var(--text-clr);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
}

main {
    max-width: 425px;
    background: var(--card-bg);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 1.7rem;
    border-radius: 1rem;
}

main .image-container img {
    display: block;
    margin: auto;
    width: 85%;
    height: auto;
    margin-top: 1.5rem;
    border-radius: 1rem;
}

h2 {
    color: white;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-container {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    padding: 0 2rem;
}

.text-container p {
    margin: 1rem 0;
    margin-right: 4rem;
}

.number-container {
    display: flex;
}

.profile-container img {
    width: 15%;
}

.profile-container {
    display: flex;
}

.profile-container p {
    margin: auto;
}