* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --text-clr: hsl(215, 51%, 70%);
    --crypto-clr: hsl(178, 100%, 50%);
    --title-name-clr: hsl(0, 0%, 100%);
    --line-clr: hsl(215, 32%, 27%);
    --hover-state-clr: hsl(178, 100%, 50%);
}

body {
    min-height: 100vh;
    background-color: var(--main-bg);
    color: var(--text-clr);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
}

main {
    max-width: 425px;
    background: var(--card-bg);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 1.7rem;
    border-radius: 1rem;
}

main .image-container img {
    display: block;
    margin: auto;
    width: 85%;
    height: auto;
    margin-top: 1.5rem;
    border-radius: 1rem;
}

h2 {
    color: white;
}

h2:hover {
    color: var(--hover-state-clr);
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-img {
    margin-bottom: 24px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}


.card-img-overlay {
    position: absolute;
    width: 85%;
    height: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: hsla(178, 100%, 50%, 0.5);
    border-radius: 8px;
}

.card-img:hover .card-img-overlay {
    opacity: 1;
}

.card-img:hover {
    cursor: pointer;
}

.card-img:hover .card-img-overlay {
    opacity: 1;
}

#eye-icon {
    width: 90%;
}

.text-container {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    padding: 0 2rem;
}

.text-container p {
    margin: 1rem 0;
    margin-right: 4rem;
}


#number-container {
    display: flex;
    padding-bottom: 1.5rem;

}

#eth-icon {
    margin-right: 10rem;
}

#eth-text {
    color: var(--hover-state-clr);
}


.profile-container img {
    width: 15%;
}

#profile-pic {
    border: 1px solid white;
    border-radius: 50%;
}

.profile-container {
    border-top: 1px solid var(--line-clr);
    display: flex;
    padding-top: 1.5rem;
    width: 80%;
    margin-bottom: 1.5rem;
}

.profile-container p {
    margin: auto;
    margin-left: 1.5rem;
}

#profile-name {
    color: white;
}

#profile-name:hover {
    color: var(--hover-state-clr);
}